@charset "UTF-8";

@media (max-width: 480px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* estilização do menu */
  header {
    background-color: #0a3c73;
  }
}

header > div {
  position: relative;
  padding: 10px;
  text-align: center;
}

header > div > h1 {
  margin: 0;
  color: white;
}

header > div > button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background-color: #0a3c73;
}

#btnMenu {
  color: rgb(177, 177, 177);
  border: none;
}

nav {
  display: block;
  background-color: #0a3c73;
  border-radius: 10px;
  padding-left: 0;
  position: relative;
  z-index: 1;
}

nav > ul {
  list-style-type: none;
  padding-left: 0;
  color: rgb(177, 177, 177);
}

nav > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(177, 177, 177);
  border-top: 2px solid rgb(177, 177, 177);
}

nav > ul > li > a:hover {
  background-color: rgba(39, 79, 255, 0.164);
}

label {
  position: fixed;
  margin-left: 50px;
  margin-top: -30px;
}

/* menu escondido antes de abrir */
#menuLateral {
  width: 70vw;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #0a3c73;
  padding-top: 60px;
}

/* quando abrir */
#menuLateral.aberto {
  transform: translateX(0);
}

/* overlay fundo preto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 998;
}

/* overlay ativo (aparece) */
.overlay.ativo {
  opacity: 1;
  pointer-events: all;
}

main {
  width: 90vw;
  background-color: dimgray;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
/* .label:hover {
  background-color: rgb(4, 25, 77);
} */
