#map { 
    height: 100vh; 
    width: 100%; 
}

/* .minha-rua-campus {
    stroke: #555;
    stroke-width: 4;
    stroke-dasharray: 4; Efeito pontilhado 
} */

/* Círculo central azul de usuário */
.gps-marker {
    background-color: #4285F4;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* A animação de pulso ao redor do círculo*/
.gps-ring {
    border: 3px solid #4285F4;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -5px; /* Ajuste fino para centralizar */
    top: -5px;  /* Ajuste fino para centralizar */
    
    animation: pulsate 1s ease-out infinite;
    opacity: 0.0;
}

@keyframes pulsate {
    0% { transform: scale(0.1, 0.1); opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { transform: scale(1.2, 1.2); opacity: 0.0; }
}

/* Definição Webkit (apenas para compatibilidade legada muito antiga) */
/* @-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(0.1, 0.1); opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { -webkit-transform: scale(1.2, 1.2); opacity: 0.0; }
} */
